django
psycopg2-binary
djangorestframework
markdown
django-filter
django-crispy-forms
django-markdownify
django-axes
django-admin-honeypot
argon2-cffi
celery
redis
fabric3
twilio
elasticsearch
elasticsearch-dsl


